name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

env:
  MACOSX_DEPLOYMENT_TARGET: 10.15

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2022
            output: bodega-windows-x86_64.exe
          - os: macos-15-intel
            output: bodega-macos-x86_64
          - os: macos-14
            output: bodega-macos-arm64
          - os: ubuntu-22.04
            output: bodega-linux-x86_64
          - os: ubuntu-22.04-arm
            output: bodega-linux-arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: System dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install -y patchelf

      - name: Set up zig
        if: runner.os != 'macOS'
        uses: mlugg/setup-zig@v2.2.1
        with:
          version: 0.15.2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install .

      - name: Get bodega version
        shell: bash
        run: |
          cd src
          echo "BODEGA_VERSION=$(python -c 'import bodega; print(bodega.__version__)')" >> $GITHUB_ENV

      - uses: Nuitka/Nuitka-Action@88d0c6c3d6f5022e79ef3fcc1e792871b4de8340
        with:
          nuitka-version: release/4.0
          script-name: ./src/bodega
          mode: onefile
          file-version: ${{ env.BODEGA_VERSION }}
          onefile-tempdir-spec: '{HOME}/.cache/bodega/{VERSION}'
          output-file: ${{ matrix.output }}
          zig: ${{ runner.os != 'macOS' }}

      - name: Verify binary
        shell: bash
        run: |
          ./build/${{ matrix.output }} --version

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.output }}
          path: ./build/${{ matrix.output }}
