name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

env:
  MACOSX_DEPLOYMENT_TARGET: 10.15

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2022
            output: bodega-windows-x86_64.exe
          - os: macos-15-intel
            output: bodega-macos-x86_64
          - os: macos-14
            output: bodega-macos-arm64
          - os: ubuntu-latest
            output: bodega-linux-x86_64
          - os: ubuntu-24.04-arm
            output: bodega-linux-arm64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Setup Python environment
        shell: bash
        run: |
          mkdir build
          cd build

          npm init --yes
          npm install @bjia56/portable-python-3.12

          PYTHON_EXE=$(node -e "console.log(require('@bjia56/portable-python-3.12'))")

          # Convert Windows paths to Unix format for Git Bash
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            # Convert C:\path\to\python.exe to /c/path/to/python.exe
            PYTHON_EXE=$(echo "$PYTHON_EXE" | sed -e 's|\\|/|g' -e 's|^\([A-Za-z]\):|/\L\1|')
          fi

          echo "python_exe=$PYTHON_EXE" >> $GITHUB_ENV

      - name: Setup dependencies
        if: ${{ env.RUNNER_OS == 'Linux' }}
        run: |
          sudo apt update
          sudo apt install -y patchelf

      - name: Build bodega package
        shell: bash
        run: |
          ${{ env.python_exe }} -m pip install '.[dev]'
          VERSION=$(${{ env.python_exe }} -c "import bodega; print(bodega.__version__)")
          ${{ env.python_exe }} -m nuitka --assume-yes-for-downloads --onefile --onefile-tempdir-spec='{HOME}/.bodega/.runtime/{VERSION}' --file-version=$VERSION --static-libpython=no --output-filename=${{ matrix.output }} ./src/bodega

      - name: Verify binary
        run: |
          ./${{ matrix.output }} --version

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.output }}
          path: ./${{ matrix.output }}
